html {
  height: 100%;
  width: 100%;
}

body {
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  color: #333;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  background: linear-gradient(90deg, transparent 49%, rgba(211, 211, 211, 0.5) 49%, rgba(211, 211, 211, 0.5) 51%, transparent 51%), linear-gradient(0deg, transparent 49%, rgba(211, 211, 211, 0.5) 49%, rgba(211, 211, 211, 0.5) 51%, transparent 51%), linear-gradient(135deg, #cceeff 0%, #fefae0 50%, #ffcccc 100%);
  background-size: 50px 50px, 50px 50px, cover;
  background-repeat: repeat, repeat, no-repeat;
  background-position: top left, top left, center;
}
body::before {
  content: "Hello, There";
  font-family: "Playfair Display", serif;
  position: absolute;
  top: 80%;
  right: -3%;
  transform: translateY(-50%);
  font-size: 12rem;
  color: rgba(0, 0, 0, 0.2);
  opacity: 0.3;
  pointer-events: none;
  white-space: nowrap;
}

.container {
  margin: 0 auto;
  padding-top: 20px;
  padding-right: 40px;
  padding-left: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

nav {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: flex;
  margin-bottom: 50px;
}
nav ul {
  list-style: none;
  display: flex;
  gap: 20px;
}
nav ul li a {
  text-decoration: none;
  color: #333;
  font-weight: bold;
}

.content {
  margin-left: 15%;
  margin-right: 15%;
  padding-top: 12%;
  text-align: center;
  height: 100%;
}
.content .intro {
  margin-bottom: 5%;
  transition: all 2s ease-in-out;
  position: relative;
  z-index: 2;
}
.content .intro h1 {
  font-size: 3rem;
  font-weight: bold;
  margin-bottom: 5%;
}
.content .intro h2 {
  font-size: 2rem;
  font-weight: semi-bold;
  margin-bottom: 5%;
}
.content .intro p {
  font-size: 1rem;
  line-height: 1.8;
  margin-bottom: 3%;
}
.content .intro p span {
  font-weight: bold;
}

#name {
  display: inline-block;
  margin: 0;
  z-index: 999;
}

.sidebar {
  position: fixed;
  top: 0;
  left: -30vw;
  width: 18vw;
  height: calc(100% - 80px);
  padding: 40px;
  background-color: #f8f8f8;
  opacity: 1;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
  z-index: 1;
  overflow: visible;
  text-align: left;
  flex-direction: column;
  display: flex;
  justify-content: space-between;
}
.sidebar.active {
  transform: translateX(30vw);
  background-color: rgba(251, 249, 249, 0.1);
  z-index: 1;
}
.sidebar h2 {
  font-size: 2rem;
  font-weight: semi-bold;
  margin-bottom: 20px;
}
.sidebar h3 {
  font-size: 1.5rem;
  font-weight: semi-bold;
  margin-bottom: 10px;
}
.sidebar p {
  padding-top: 5%;
  font-size: 1rem;
  line-height: 1.8;
  margin-bottom: 10px;
  opacity: 0.8;
}
.sidebar .nav-links {
  list-style: none;
  padding-top: 20%;
  padding-left: 0;
  margin: 0;
  flex: 1;
}
.sidebar .nav-links .nav-item {
  margin-bottom: 20px;
  position: relative;
}
.sidebar .nav-links .nav-item a {
  text-decoration: none;
  display: flex;
  align-items: center;
  color: #4b5c6b;
  font-size: 1.2rem;
  font-weight: 700;
  transition: color 0.3s ease;
}
.sidebar .nav-links .nav-item a .line {
  width: 20px;
  height: 2px;
  background-color: #4b5c6b;
  margin-right: 5px;
  transition: width 0.3s ease, background-color 0.3s ease, height 0.3s ease;
}
.sidebar .nav-links .nav-item a .text {
  transition: transform 0.3s ease;
}
.sidebar .nav-links .nav-item a:hover .line {
  width: 50px;
  background-color: #81b7f3;
  height: 3px;
}
.sidebar .nav-links .nav-item a:hover .text {
  color: #81b7f3;
  transform: translateX(10px);
}
.sidebar .nav-links .nav-item.active .line {
  width: 30px;
  background-color: #81b7f3;
}
.sidebar .nav-links .nav-item.active .text {
  color: #81b7f3;
}
.sidebar .contact-links {
  height: 20%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.more-link {
  position: relative;
  text-decoration: none;
  font-size: 1.2rem;
  color: #333;
  font-weight: bold;
  padding-bottom: 2px;
  display: inline-block;
}
.more-link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 2px;
  width: 0;
  background-color: #333;
  transition: width 0.3s ease-out;
}
.more-link:hover::after {
  width: 100%;
}

.social-links {
  margin-top: 40px;
  display: flex;
  gap: 20px;
  flex-direction: row;
  justify-content: center;
}
.social-links a {
  text-decoration: none;
  font-size: 1.5rem;
  color: #333;
  position: relative;
  transition: color 0.3s;
}
.social-links a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -2px;
  width: 0;
  height: 2px;
  background-color: #333;
  transition: width 0.3s ease;
}
.social-links a:hover::after {
  width: 100%;
}
.social-links a:hover {
  color: #81b7f3;
}
.social-links a:hover::after {
  background-color: #81b7f3;
}

.icon-responsive {
  font-size: 20px;
}

@media (min-width: 768px) {
  .icon-responsive {
    font-size: 25px;
  }
}
@keyframes grain {
  0% {
    transform: translate(0, 0);
  }
  10% {
    transform: translate(-5%, -10%);
  }
  20% {
    transform: translate(-15%, 5%);
  }
  30% {
    transform: translate(7%, -25%);
  }
  40% {
    transform: translate(-5%, 25%);
  }
  50% {
    transform: translate(-15%, 10%);
  }
  60% {
    transform: translate(15%, 0%);
  }
  70% {
    transform: translate(0%, 15%);
  }
  80% {
    transform: translate(3%, 20%);
  }
  90% {
    transform: translate(-10%, 10%);
  }
  100% {
    transform: translate(0, 0);
  }
}
.noise {
  position: fixed;
  z-index: 9999;
  top: -300%;
  left: -150%;
  height: 600%;
  width: 600%;
  -webkit-animation: grain 7s steps(10) infinite;
  animation: grain 7s steps(10) infinite;
  background-image: url("/noise.png");
  background-size: 200px;
  background-repeat: repeat;
  opacity: 0.25;
  pointer-events: none;
}

/*# sourceMappingURL=styles.css.map */
